.Pokecard {
  width: 300px;
  padding: 10px;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  text-align: center;
  background-color: white;
  border: 2px solid #d7d7d7;
  border-radius: 6px;
}

.Pokecard-data {
  font-size: 80%;
}