.Lottery {
  border: solid 2px gray;
  padding: 1em 0 2em 0;
  text-align: center;
  margin: 1em auto auto;
  border-radius: 10px;
  width: 40rem;
}

.Lottery button {
  background-color: white;
  color: tomato;
  font-size: 120%;
  border-radius: 10px;
  margin-top: 1em;
}
